@import "tailwindcss";
.pookie{
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #da0de9;
  }



  .pookie2{
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2bf835;
  }


  /* body, html {
    overflow-x: hidden;
    width: 100%;
  } */

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* html{
    scroll-behavior: smooth;
  } */

  .pookie3{
    /* From https://css.glass */
background: rgba(128, 5, 107, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.2px);
-webkit-backdrop-filter: blur(2.2px);
border: 1px solid rgba(128, 5, 107, 0.81);
  }


  * {
    box-sizing: border-box;
  }

  .spin-animation {
    animation: custom-spin 1s linear infinite;
  }

  @keyframes custom-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  
  