@import "tailwindcss";
.pookie{
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #da0de9;
  }



  .pookie2{
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2bf835;
  }


  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  
 

  }